.toy-list {
  display: flex;
  justify-content: center;
  flex: 1;

  ul {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    min-height: 445px;
    margin-block: auto;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      max-width: 250px;
      margin: 0.5em;
      background-color: $clr1bg;
      border-radius: 4px;
      box-shadow: #00000026 1.95px 1.95px 2.6px;
    }
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

@media (min-width: 630px) {
  .toy-list ul {
    flex-flow: row wrap;
  }
}
