/* Setup */
@import 'setup/vars';
@import 'setup/typography';
@import 'setup/animations';

/* Base */
@import 'base/base';
@import 'base/helpers';
@import 'base/layout';
@import 'base/forms';

/* Components */
@import 'cmps/common/ErrorMessage';
@import 'cmps/common/Loader';
@import 'cmps/common/UserMsg';
@import 'cmps/AppHeader';
@import 'cmps/AppFooter';
@import 'cmps/HomePage';
@import 'cmps/ToyIndex';
@import 'cmps/ToyDetails';
@import 'cmps/ToyEdit';
@import 'cmps/ToyList';
@import 'cmps/ToyPreview';
@import 'cmps/ToyFilter';
@import 'cmps/ToyImg';
@import 'cmps/Map';

/* MEDIA QUERIES */
