@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: roboto;
  src: url(../../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: libre;
  src: url(../../assets/fonts/libre-barcode/LibreBarcode128Text-Regular.ttf);
}
