.error-message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .indicator {
    margin: 0 auto 0.5rem;
    width: 4rem;
    height: 4rem;

    svg {
      fill: blueviolet;
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem 0 0;
    max-width: 50ch;
  }
}
