.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  .animation {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      display: inline-block;
      border-radius: 50vw;
      background-color: $clr2;
      width: 2em;
      height: 2em;
      animation: bounce 1.5s infinite ease-in-out both;
    }

    span:nth-child(1) {
      animation-delay: -0.32s;
    }

    span:nth-child(2) {
      animation-delay: -0.16s;
    }

    p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      line-height: 1.5em;
      letter-spacing: 1px;
      text-align: center;
      margin: 1rem 0 0;
      max-width: 50ch;
    }
  }
}
