.user-msg {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 1em;
  right: 2em;

  font-weight: 700;
  border-radius: 2px;
  padding: 0.2em 0.5em;

  &.success {
    background-color: $gray2;
    color: $gray3;
  }

  &.error {
    background-color: $gray2;
    color: $gray3;
  }

  button {
    font-size: 0.5em;
    float: right;
    margin-inline-start: 1em;
  }
}
