button {
  cursor: pointer;
  background-color: $clr2bg;
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

button:hover {
  background-color: $clr2;
  color: white;
  transition: 0.3s;
}

input:focus {
  background-color: $clr1bg;
  transition: background-color 1s;
}
