.main-layout {
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  > *.full {
    grid-column: 1 / -1;
  }

  > *:not(.full) {
    grid-column: 2;
  }
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}
